body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --font-league-spartan: "League Spartan";
    --chart-text: Roboto;
  
    /* font sizes */
    --font-size-41xl: 60px;
    --font-size-131xl: 150px;
    --font-size-81xl: 100px;
    --chart-text-size: 11px;
    --font-size-281xl: 300px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-darkslategray-100: #072e2d;
    --color-gray-100: #949494;
    --color-gray-200: rgba(255, 255, 255, 0.01);
  
    /* Gaps */
    --gap-14xl-9: 33.9px;
    --gap-8xs: 5px;
  
    /* Paddings */
    --padding-48xl-8: 67.8px;
    --padding-3xs: 10px;
  
    /* Border radiuses */
    --br-43xl: 62px;
    --br-43xl-7: 62.7px;
  }
  